*{
    margin: 0;
    padding: 0;
}
#body{
    position: fixed;
    width: 100%;
    height: 100%;
}
.clear:after{
    clear: both;
    content: " ";
    display: block;
}
.left{
    float: left;
    height: 100%;
    width: 30%;
}
.left_top{
    height: 60px;
    background: #373c40;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.left_top p{
    line-height: 20px;
}
.left_body{
    position: relative;
    height: 77%;
}
.menuList_body{
    position: relative;
}
.allMenuList{
    width: 100%;
    position: absolute;
    top: 0;
}
.menuList{
    position: relative;
    overflow: hidden;
}
.menuList table{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #333333;
    background: #ffffff;
}
.menuList table tr{
    height: 50px;
}
.menuList table tr:nth-of-type(odd){
    background: #EEEEEE;
}
.upAndDown{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}
.upAndDown p{
    height: 50px;
    background: #ff7e00;
    width: 49.7%;
}
.upAndDown p.up{
    float: left;
}
.upAndDown p.down{
    float: right;
}
.bottoms{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottoms p{
    display: block;
    border: 1px solid #ff7e00;
    float: left;
    width: 49.3%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: #ff7e00;
    font-weight: bold;
}



.right{
    width: 70%;
    height: 100%;
    background: #dfcdbb;
    float: right;
    overflow: hidden;
    position: relative;
}
.right_top{
    height: 50px;
    padding: 0px 12px;
    font-size: 18px;
    line-height: 50px;
    color: #666;
    font-weight: bold;
}
.food_div{
    padding: 0 12px;;
}
.menuType {
    height: 80px;
}
.menuType .leftMove, .menuType .rightMove {
    width: 50px;
    height: 80px;
    /* border: 1px solid; */
    float: left;
    top: 0;
}
.menuType .leftMove {
    background: rgba(255,126,0,0.5) url(../../../common/img/L_24dea04407b4dd72af8bdf69bdb483d.png) no-repeat center;
    background-size: 40%;
}
.menuType .rightMove {
    background: rgba(255,126,0,0.5) url(../../../common/img/R_24dea04407b4dd72af8bdf69bdb483d.png) no-repeat center;
    background-size: 40%;
}
.menuType_DIV {
    overflow: hidden;
    height: 80px;
    position: relative;
    float: left;
    width: 85%;
    background: #fff;
}
.menuType_DIV ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    background: #fff;
}
.menuType_DIV ul li {
    float: left;
    width: 120px;
    height: 80px;
    line-height: 80px;
    border-right: 1px solid #ff7e00;
    text-align: center;
    font-weight: bold;
    color: #333333;
}
.menuType_DIV ul li.active {
    background: rgba(255,126,0,0.7);
    color: #fff;
}


.foodList_div{
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    height: 700px;
}
.foodList_div ul{
    width: 100%;
    position: absolute;
    top: 0;
}
.oneFood {
    width: 16.1%;
    padding: 10px;
    background: #ffffff;
    float: left;
    border-radius: 8px;
    margin-right: 1%;
    margin-bottom: 2%;
    list-style: none;
}
.oneFood p{
    line-height: 23px;
    height: 23px;
    text-align: right;
    font-size: 13px;
    color: #333333;
}
.oneFood p.foodName{
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

	.backgroundPrompt{
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		z-index: 1000;
	}
	.promptBox{
		background: #fff;
		width: 500px;
		height: 200px;
		margin: 180px auto;
		border-radius:10px;
		overflow: hidden;
		box-shadow: 3px 3px 35px rgba(0,0,0,0.5);
	}
	.promptBox .promptContent{
		line-height: 150px;
		text-align: center;
		font-size: 20px;
	}
	.promptBox .promptButton{
		line-height: 50px;
		text-align: center;
		border-top: 1px solid #ccc;
	}
	.promptBox .promptButton p{
		width: 49.9%;
		float: left;
		color: #fff;
	}
	.promptBox .promptButton p.cancel{
		border-right: 1px solid #ccc;
		background: #ccc;
	}
	.promptBox .promptButton p.ok{
		background: #ff7e00;
	}
	
.f_upAndDown{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 10px;
}
.f_upAndDown p{
    width: 48.4%;
    background: #7b634a;
    line-height: 50px;
    height: 50px;
}
.f_upAndDown p.f_up{
    float: left;
    margin-left: 1.5%;
    background: #7b634a url(../../../common/img/U_d6a21e525d726b15eac6f21048f84224.png) no-repeat center;
    background-size: 5%;
}
.f_upAndDown p.f_down{
    float: right;
    margin-right: 1.5%;
    background: #7b634a url(../../../common/img/D_d6a21e525d726b15eac6f21048f84224.png) no-repeat center;
    background-size: 5%;
}
/*纭妗� 鍒锋柊褰撳墠椤甸潰*/
.background_onlyOKPrompt{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 100;
}
.onlyOKPrompt{
	background: #fff;
	width: 350px;
	height: 200px;
	margin: 180px auto;
	border-radius:10px;
	overflow: hidden;
	box-shadow: 3px 3px 35px rgba(0,0,0,0.5);
}
.onlyOKPrompt_content{
	line-height: 150px;
	text-align: center;
	font-size: 20px;
}
.onlyOKPrompt_button{
	text-align: center;
	line-height: 50px;
}
.onlyOKPrompt_button p{
	text-align: center;
	background: #ff7e00;
	color: #fff;
}
/*纭妗� 涓嶅仛浠讳綍鍙嶅簲*/
.background_onlyOKPrompt1{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 100;
}
.onlyOKPrompt1{
	background: #fff;
	width: 350px;
	height: 200px;
	margin: 180px auto;
	border-radius:10px;
	overflow: hidden;
	box-shadow: 3px 3px 35px rgba(0,0,0,0.5);
}
.onlyOKPrompt_content1{
	line-height: 150px;
	text-align: center;
	font-size: 20px;
}
.onlyOKPrompt_button1{
	text-align: center;
	line-height: 50px;
}
.onlyOKPrompt_button1 p{
	text-align: center;
	background: #ff7e00;
	color: #fff;
}
/*---------閫�鑿滃脊绐梒ss----------
#doDelete *{
	margin: 0;
	padding: 0;
}
#doDelete{
	display:none;
	position: fixed;
	width:100%;
	height:100%;
	background-color: aliceblue;
	background:rgba(0,0,0,0.3);
}
#doDelete .doDelete_div{
	width: 65%;
	height: 80%;
	margin: 5% auto;
	background: #fff;
	padding: 20px;
	box-shadow:1px 5px 50px #333;
	position: relative;
}
.clear:after{
	content: " ";
	display: block;
	clear: both;
}
.doDelete_left{
	width: 60%;
}
#doDeleteHead ul{ 
	background:#dfcdbb;
	list-style: none;
	line-height: 50px;
}
#doDeleteHead ul p{
	float: left;
	width: 33.33333%;
	text-align: center;
}
#orderList ul{
	width: 100%;
	list-style: none;
	margin-top: 15px;
	overflow: auto;
	height: 85%;
}
#orderList ul li{
	line-height: 50px;
}
#orderList ul li:nth-of-type(odd){
	background:rgba(223,205,187,0.3);
}
#orderList  ul p{
	float: left;
	width: 33.33333%;
	text-align: center;
}
#orderList  ul p input{
	height: 40px;
	width:50%;
	text-align: center;
	margin: 5px auto;
}
#orderList  ul button{
    height: 40px;
    width: 80px;
    font-size: 15;
    background: rgba(223,205,187,0.7);
    border: rgb(223,205,187);
    border-radius:3px;
    margin: 5px auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
}
#keyboard{
	display: none;
	position:absolute;
	right: 20px;
	top: 25%;
}
#keyboard td{
	width:80px;
	height: 50px;
	text-align: center;
}
#keyboard td a{
	width:100%;
	height:100%;
	line-height:50px;
	border: 1px solid rgb(165,165,165);
	display: inline-block;
	text-decoration: none;
	color: #333;
	border-radius:3px;
	background: linear-gradient(to bottom, rgb(247,247,247) , rgb(221,221,221));
}


.tuiCai_button{
	position: absolute;
	bottom: 20px;
	right: 15px;
}
.tuiCai_button button{
	width: 110px;
	height: 50px;
}*/
/*				閫�鑿�		鍌诲ぇ澶х増*/
*{
    margin: 0;
    padding: 0;
}
.clear:after {
    content: " ";
    display: block;
    clear: both;
}
#doDelete {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    background: rgba(0,0,0,0.2);
    z-index: 100;
}
#doDelete .doDelete_div {
    width: 65%;
    height: 80%;
    margin: 5% auto;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 5px 50px #333;
    position: relative;
}
.doDelete_left {
    width: 60%;
}
#doDeleteHead ul {
    background: #dfcdbb;
    list-style: none;
    line-height: 50px;
}
#doDeleteHead ul p {
    float: left;
    width: 33.33333%;
    text-align: center;
}
#orderList ul {
    width: 100%;
    list-style: none;
    height: 85%;
    font-size: 14px;
}
#orderList ul li {
    line-height: 45px;
}
#orderList ul li:nth-of-type(odd) {
    background: rgba(223,205,187,0.3);
}
#orderList ul p {
    float: left;
    width: 33.33333%;
    text-align: center;
}
#orderList ul p input {
    height: 40px;
    width: 50%;
    text-align: center;
}
#orderList ul button {
    height: 40px;
    width: 80px;
    background: linear-gradient(rgb(245,240,234) ,rgba(223,205,187,0.7));
    border: rgb(223,205,187);
    border-radius: 3px;
    margin: 5px auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}
#keyboard {
    position: absolute;
    right: 20px;
    top: 25%;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    width: 36%;
    background: #f5f5f5;
}
#keyboard span{
    width: 32.9%;
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    float: left;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.tuiCai_button {
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.oneOrderDelete{
    position: absolute;
    top: 20px;
    right: 15px;
    width: 130px;
    height: 50px;
    background: #ff7e00;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}
.tuiCai_button button {
    width: 130px;
    height: 50px;
    background: #ff7e00;
    border: none;
    color: #ffffff;
    font-size: 16px;
}
/*鐐硅彍鍣�*/
.box_background{position:fixed;width: 100%;height: 100%;background: transparent;top: 0;left: 0;z-index: 10;display: none;}
#box *{margin: 0px;padding: 0px;}
#box{width: 360px;background: #C55607;padding-top: 20px;position: absolute;z-index: 10;left: 30%;height: 100%;}
#box .box-a{width: 320px;margin: auto;}
#box .reduce,.add{width: 90px;height: 55px;background: #D1781C;border: none;float:left;color: white;font-size: 25px;}
#box .sumnum div{float: left;width: 130px;height: 55px;background: white;font-size: 20px;margin: 0px 5px;text-align: center;line-height: 55px;}
#box .delete,.give{width: 320px;height: 50px;background: #D1781C;color: white;border: none;margin-top: 10px;font-size: 18px;margin-bottom: 15px;}
#box .num ul li{list-style: none;float: left;width: 70px;height: 40px;background: white;text-align: center;line-height: 40px;}
#box .num ul li a{text-decoration: none;color: black;}
#box .num ul li a:hover{color: white;}
#box .a,.b,.c{margin-right: 5px;}
#box .a:hover{background: #FE810D;color: white;}
#box .b:hover{background: #FE810D;color: white;}
#box .c:hover{background: #FE810D;color: white;}
#box .num input{height: 50px;width:200px;border: none;margin-top: 5px;font-size: 16px;padding: 0 10px;}
#box .jt{height: 50px;width: 95px;border: none;margin-top: 5px;font-size: 16px;background: #E88E1E;color: white;}
#box .num table{width: 100%; margin: 20px 0 10px;}
#box .num table tr{border: 1px solid thistle;background: #E88E1E;height: 70px;color: white;text-align: center;}
#box .num table tr td{width: 100px;}
#box .last{color: white;}
#nature{margin-top: 20px;}
#box .last ul li{list-style: none;float: left;height: 50px;background: #E88E1E;text-align: center;line-height: 50px;margin-right: 2px;padding: 0 18px;}
#box .last ul li a{text-decoration: none;color: white;}
#box .x,.y{margin-right: 5px;}
#box a{text-decoration: none;display: inline-block;width: 100%;color:#fff;}
#box .clear:fater{clear: both;display: block;content: " " ;}
