* {
	margin: 0;
	padding: 0;
}

.clear:after {
	display: block;
	content: " ";
	clear: both;
}

#bigDiv {
	padding: 20px;
}

ul {
	list-style: none;
}

li {
	background: #FFFFff;
	line-height: 30px;
	border-bottom: 1px solid #EEEEEE;
	margin-top: 10px;
}

li input {
	line-height: 30px;
	border: none;
	outline: none;
	display: block;
	float: left;
}

li a {
	display: block;
	float: right;
	font-size: 12px;
	color: #FFFFff;
	text-decoration: none;
	width: 80px;
	text-align: center;
}

.cancel_div {
	background: gray;
	line-height: 40px;
	text-align: center;
	color: #FFFFff;
	width: 40%;
	float: right;
}

.submit_div {
	background: #FF7E00;
	line-height: 40px;
	text-align: center;
	color: #FFFFff;
	width: 40%;
}

.verification {
	background: #ffb873;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	border-radius: 3px;
	float: right;
	color: #fff;
	font-size: 14px;
	width: 90px;
	text-align: center;
}

.verification.ok {
	background: #FF7E00;
}

