*{
    margin: 0;
    padding: 0;
}
.clear:after{
    display: block;
    clear: both;
    content: " ";
}

#body{
    position: fixed;
    width: 100%;
    height: 100%;
}
.left{
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.left_head{
    height: 60px;
    width: 100%;
    background: #373c40;
    position: relative;
}
.left_head .return{
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    background: url("../../common/img/beak.png")  no-repeat center;
    background-size: 100%;
    top: 9px;
    left: 12px;

}
.left_head_p{
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    font-size: 14px;
}
.left_head_p span{
    margin: 0 10px;
}
.left_body{
    border-right: 1px solid #CCCCCC;
}

.left_body table{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
    border-top: 1px solid #CCCCCC;
}
.left_body table tr{
    height: 45px;
}
.left_body table tr:nth-of-type(odd){
    background: #EEEEEE;
}
.left_body table tr:last-of-type td{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
}
.yesSettlement{
    font-size: 12px;
    color: #999999;
}
.noSettlement{
    font-size: 12px;
    color: #f40;
}

.right{
    width: 70%;
    height: 100%;
    float: right;

}
.right_div{
    padding: 30px;
    position: relative;
}
.right_title{
    line-height: 45px;
    font-size: 6px;
    line-height: 45px;
    font-size: 14px;
}
.right_title i{
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url("sdfaxnz-1.png") no-repeat center;
    background-size: 100%;
    vertical-align: -3px;
    margin: 0 5px;
}

.prive_div{
    line-height: 40px;
    font-size: 14px;
    color: #999999;
}
.prive_div span{
    margin: 0 5px;
}
.oldPeople_num{
    padding: 6px 0;
}
.adjustmentPeople_num{
    display: inline-block;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    font-style: normal;
    text-align: center;
    width: 100px;
    color: #333333;
    font-size: 16px;
    margin: 0 25px;
    cursor: pointer;
}
.people{
    display: none;
    font-size: 16px;
    color: #333333;
    width: 280px;
    line-height: 60px;
    padding: 5px 0;
}
.people_num{
    float: right;
    border: 1px solid #CCCCCC;
    font-size: 20px;
    text-align: center;
}
.people_num span{
    display: inline-block;
    width: 50px;
    float: left;
    background: #EEEEEE;
    cursor: pointer;
}
.people_num input{
    font-size: 20px;
    text-align: center;
    width: 80px;
    height: 60px;
    float: left;
    border: none;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}
.underLine-foodMoney{
    color: #f40;
}

.input_div{
    font-size: 16px;
    line-height: 60px;
    color: #333333;
}
.input_div input{
    height: 45px;
    width: 220px;
    margin: 0 20px;
    border: none;
    outline: none;
    background: #EEEEEE;
}
.result{
    font-size: 25px;
    line-height: 50px;
    color: #f40;
}
.button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #f45a22;
    color: #ffffff;
    font-size: 18px;
    width: 200px;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
}
.message{
    color: #f00;
    font-size: 12px;
    font-style: normal;
    margin-left: 15px;
}


.keyboard_div{
    margin: 0 30px;
    width: 303px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #f5f5f5;
    
}
.keyboard_div span{
    display:inline-block;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100px;
    float: left;
    height: 65px;
    line-height: 65px;
    font-weight: bold;
    text-align: center;
    color: #333;

}